<div id="<%= dom_id meal_type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= meal_type.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= meal_type.color %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= meal_type.price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this meal type", meal_type, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this meal type', edit_meal_type_path(meal_type), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
