<section data-controller="modal" id="<%=dom_id(menu_item)%>">
  <button type=button
          data-action="click->modal#open"
          class="flex items-start gap-2 p-2 pl-4 w-full rounded-lg border-2 border-stone-700 hover:border-stone-600
          text-stone-300 hover:text-stone-100 transition-colors duration-100">
    <h4>
      <%= menu_item.meal.name %>
    </h4>
    <% unless menu_item.meal.meal_type.nil? %>
      <div class="flex gap-2 px-2 ml-auto rounded-lg bg-stone-700 border text-sm" style="border-color: <%= menu_item.meal.meal_type.color_style or "gray" %>">
        <span style="color: <%= menu_item.meal.meal_type.color_style or "gray" %>">
          <%= menu_item.meal.meal_type.name %>
        </span>
      </div>
      <%= render "partials/score_small", score: menu_item.meal.score %>
    <% end %>
  </button>

  <dialog data-modal-target="modal"
          data-action="click->modal#close"
          class="fixed top-0 w-[100vw] h-[100vh] bg-transparent backdrop-brightness-50 backdrop-blur-md transition-opacity duration-200 z-10 opacity-0">
    <div class="container mx-auto m-4 rounded-lg bg-stone-900/60 transition-transform duration-200 -translate-y-full"
         data-modal-target="modalContainer"
         data-controller="clickCapture"
         data-action="click->clickCapture#stopPropagation"
    >
      <header class="flex gap-4 mb-4 items-end border-b-2 border-stone-700 py-2 px-4">
        <p class="text-stone-400"><%= menu_item.meal.name %> in <%= menu_item.restaurant.name %> on <%= menu_item.menu_date %></p>
        <button type="button" class="hidden md:block ml-auto text-stone-200" data-action="click->modal#close">Close</button>
      </header>
      <article>
        <%= turbo_frame_tag "meal_details", src: menu_item.meal, loading: "lazy" do %>
          <p class="text-stone-400 text-sm py-6 animate-bounce">Loading details...</p>
        <% end %>
        <%= turbo_frame_tag "user_rating", src: user_rating_meal_path(menu_item.meal), loading: "lazy" do %>
          <p class="text-stone-400 text-sm py-6 animate-bounce">Loading rating...</p>
        <% end %>
      </article>
      <button type="button" class="md:hidden mt-auto w-full py-2 border-t-2 border-teal-700 text-teal-600" data-action="click->modal#close">Close</button>
    </div>
  </dialog>
</section>