<div id="<%= dom_id menu_item %>" class="flex items-start gap-2 p-2 px-4 rounded-lg border-2 border-stone-600">
  <h4 class="text-stone-300">
    <%= menu_item.meal.name %>
  </h4>
  <% unless menu_item.meal.meal_type.nil? %>
    <div class="flex gap-2 px-2 ml-auto rounded-lg bg-stone-700 border text-sm" style="border-color: <%= menu_item.meal.meal_type.color_style or "gray" %>">
      <span style="color: <%= menu_item.meal.meal_type.color_style or "gray" %>">
        <%= menu_item.meal.meal_type.name %>
      </span>
    </div>
  <% end %>
</div>