<div>
  <h1 class="mb-4 text-xl font-medium">Ingredients</h1>
  <p>ordered by relevancy</p>
  <table class="table-auto">
    <thead>
      <tr>
        <th>Name</th>
        <th>Preference</th>
      </tr>
    </thead>
    <tbody>
     <% @ingredients.each do |ingredient| %>
        <tr>
          <td><%= ingredient.name %></td>
          <td>Neutral</td>
          <% if current_user.is_admin %>
            <td>
              <%= form_for(ingredient) do |f| %>
                <%= f.hidden_field :id %>
                <%=  %>
                <%= f.button("#{ingredient.hidden ? "Unhide" : "Hide"}", value: !ingredient.hidden, class: "btn btn-danger") %>
              <% end %>
            </td>
          <% end %>
        </tr>
     <% end %>
    </tbody>
  </table>

</div>
