
<section>
  <p style="color: green"><%= notice %></p>

  <% @locations_with_restaurants.each do |location, restaurants| %>
    <div class="mb-16 sm:mb-32">
      <h2 class="text-stone-600 text-4xl"><%= location.name %></h2>
      <div class="flex flex-wrap flex-col md:flex-row gap-4 pt-4 items-stretch">
        <% restaurants.each do |restaurant| %>
          <div class="rounded-xl shadow-md relative md:w-[20rem] lg:w-[25rem] xl:w-[30rem]">
            <img src="img/<%= restaurant.name.downcase %>.webp" alt="<%= restaurant.name %>" class="w-full h-full absolute object-cover rounded-xl" />
            <div class="h-full flex flex-col justify-end">
              <div class="p-6 rounded-xl backdrop-blur-md backdrop-brightness-[0.3] w-full">
                <h3 class="text-lg font-bold mb-2 text-stone-300"><%= restaurant.name %></h3>
                <div class="flex flex-col gap-2">
                  <% restaurant.menu_items.sort_by { |mi| mi.meal.meal_type&.order or 10 }
                       .each do |menu_item| %>
                    <div class="flex items-start gap-2 p-2 px-4 rounded-lg border-2 border-stone-500">
                      <h4 class="text-stone-300">
                        <%= menu_item.meal.name %>
                      </h4>
                      <% unless menu_item.meal.meal_type.nil? %>
                        <div class="flex gap-2 px-2 ml-auto rounded-lg bg-stone-700 border text-sm"
                         style="border-color: <%= menu_item.meal.meal_type.color_style or "gray" %>"
                        >
                          <span style="color: <%= menu_item.meal.meal_type.color_style or "gray" %>">
                            <%= menu_item.meal.meal_type.name %>
                          </span>
                          <!--span class="text-stone-400">
                            <% unless menu_item.meal.meal_type&.price_for("student").nil? %>
                              <%= menu_item.meal.meal_type.price_for("student") %>€
                            <% end %>
                          </span-->
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  <% end %>

    <h2 class="text-stone-500 mb-4">No entries today:</h2>
    <div id="closed_restaurants">
      <% @closed_restaurants.each do |restaurant| %>
        <p><%= restaurant.name %></p>
      <% end %>
    </div>
</section>