<p style="color: green"><%= notice %></p>

<h1>Restaurants</h1>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <p><strong>Today's menu</strong> (<%= restaurant.menu_items.size %> entries)</p>
    <% restaurant.menu_items.each do |menu_item| %>
        <p><%= menu_item.meal.name %></p>
    <% end %>
    <p>
      <%= link_to "Show this restaurant", restaurant %>
    </p>
  <% end %>
</div>

<%= link_to "New restaurant", new_restaurant_path %>
