<!DOCTYPE html>
<html>
  <head>
    <title>Sumucafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <svg width="100vw" height="100vw" xmlns="http://www.w3.org/2000/svg" class="z-[-10] rotate-[45deg] fixed">
      <defs>
        <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
          <path d="M 8 0 L 0 0 0 8" fill="none" stroke="gray" stroke-width="0.5"/>
        </pattern>
        <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
          <rect width="80" height="80" fill="url(#smallGrid)"/>
          <path d="M 80 0 L 0 0 0 80" fill="none" stroke="gray" stroke-width="1"/>
        </pattern>
      </defs>

      <rect width="100%" height="100%" fill="url(#grid)" />
    </svg>

    <section class="py-2 px-6 mb-4 flex items-center border-b-2 border-slate-300 rounded-lg shadow-sm backdrop-blur-sm">
      <%= link_to "SUMUCAFE", root_path, class: "text-sm p-4 hover:bg-slate-100 transition-colors ease-in-out duration-300 rounded-lg" %>
      <span class="text-sm text-slate-500">- Vastaukset päivän polttaviin kysymyksiin klo 10.55-10.57</span>
      <span class="ml-auto text-sm text-red-500">Huom: sumucafe on alfa-vaiheessa, syöttämäsi tiedot saatetaan poistaa</span>
    </section>

    <div class="flex">

      <aside class="flex flex-col m-2 p-6 gap-4 border-r-2 border-slate-300 rounded-lg shadow-sm backdrop-blur-sm" >
        <% if current_user %>
          <span class="text-sm text-slate-500">Hei <%= current_user.username %></span>
          <%= link_to 'Oma sivu', current_user, class: "" %>
          <%= link_to 'Kirjaudu ulos', '/logout', class: "" %>
        <% else %>
          <%= link_to 'Login', '/login', class: "" %>
          <%= link_to 'Sign up', 'signup', class: "" %>
        <% end %>
        <span class="text-sm text-red-500 mt-6 max-w-[10rem]">
          Goodwill-based security. Älä syötä mitään arvokasta tietoa.
        </span>
      </aside>

      <main class="container mx-auto p-5 flex rounded-lg animate-appear shadow-sm backdrop-blur-sm">
        <%= yield %>
      </main>

    </div>
  </body>
</html>
